{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W2W F1 Sim Racing League</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header with Navigation -->
    <header>
        <nav aria-label="Main Navigation">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'assets/W2W.png' %}" alt="W2W logo">
                </a>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                
                {% if user.is_authenticated %}
                    <!-- Links visible to logged-in users -->
                    <li><a href="{% url 'fia' %}">FIA</a></li>
                    <li><a href="{% url 'calendar' %}">Calendar</a></li>
                    <li><a href="{% url 'standings' %}">Standings & Statistics</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <!-- Links visible to guests (not logged in) -->
                    <li><a href="{% url 'account_signup' %}">Register</a></li>
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    

    <!-- Hero Section with Video -->
    <section class="hero" aria-label="Hero Section">
        <video autoplay muted loop>
            <source src="{% static 'assets/hero-video.mp4' %}" type="video/mp4">
            <p>Your browser does not support the video tag.</p>
        </video>
        <div class="hero-text">
            <h1>Welcome to W2W F1 Sim Racing League</h1>
            <p>Experience the thrill of racing from wheel to wheel.</p>
        </div>
    </section>
    <!-- Footer section-->
    <footer aria-label="Footer">
        <div class="social-links">
            <a href="https://discord.gg/H4u9wrQYU8" target="_blank" aria-label="Discord">
                <img src="{% static 'assets/discord.png' %}" alt="Discord Icon">
            </a>
            <a href="https://www.youtube.com/@W2WSimRacing" target="_blank" aria-label="YouTube">
                <img src="{% static 'assets/youtube.png' %}" alt="YouTube Icon">
            </a>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
